:root{
    --primary-color: #34D399;
    --secondary-color: ;
    --input-color: #71717a;
}


body{
    margin: 0 auto;
}

.nav-li{
    list-style-type: none;
    float: right;
}

.nav-ul{
    display: inline;
    margin-left: -15px;
}

nav{
    padding: 2rem;
}

#tweet-img{
    width:30px;
}

#line{
    margin: 1rem;
    padding: 0.1px;
    background-color: gray;
}

iframe{
    margin-left: 10%;
    margin-top: 1rem;
}

.desc-txt{
    /* font-size: large; */
    font-weight: 600;
}

.simple-input{
    border: 1px solid var(--input-color);
    color: var(--input-color);
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.validate-text{
    color: red;
    margin-left: 1rem;

}