<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpudUi | Card</title>
    <link rel="stylesheet" href="card.css">
</head>

<body>

    <nav class="navigation">
        <div class="nav-brand">Spud Ui</div>
        <ul class="list-non-bullet nav-pills">
            <li class="inline-item">
                <a class="links" target="_blank" href="https://github.com/Veekshith-Thoram"><img
                        src="/images/icons8-github-30.png" id="git-img" alt="github"></a>
            </li>

            <li class="inline-item">
                <a class="links" target="_blank" href="https://twitter.com/ThoramVeekshith"><img
                        src="/images/icons8-twitter-50.png" id="tweet-img" alt="twitter"></a>
            </li>

            <li class="inline-item">
                <a class="links" target="_blank" href="https://www.linkedin.com/in/veekshith-thoram-72b973217/"><img
                        src="/images/icons8-linkedin-30.png" id="linkedin-img" alt="linkedin"></a>
            </li>
        </ul>

    </nav>
    <div class="container">

        <div class="sidenav-container">
            <nav class="side-nav">
                <ul class="list-non-bullet">
                    <li class="side-nav-link"><a class="links" href="/components/avatar/avatar.html">Avatar</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/alert/alert.html">Alert</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/badge/badge.html">Badge</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/button/button.html">Button</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/card/card.html">Card</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/image/image.html">Image</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/input/input.html">Input</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/lists/list.html">Lists</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/toast/toast.html">Toast</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/text-utilities/text-utilities.html">Text</a></li>
                </ul>
            </nav>
        </div>

        <div class="main-container">
            <h1>Cards</h1>
            <div class="desc-txt">Cards are basically a piece of design which uproots from the page and attracts the
                user to view it.</div>
            <div class="line"></div>

            <div class="heading-text">Card with Badge</div>
            <div id="card-with-badge">
                <img src="/images/spud icon.jpg" alt="card-image" id="image-icon">
                <div id="badge">comedy</div>
                <div class="badge-desc">Spud is a cartoon character</div>
                <div class="badge-movie">Movie: Jake Long</div>
                <div class="btns">
                    <button class="btn">Watch</button>
                    <button class="btn">Like</button>
                    <button class="btn">Share</button>
                </div>
            </div>
            <div class="desc-txt">The code snippet below helps you create cards with badges</div>
            <iframe src="https://www.thiscodeworks.com/embed/623164d38bcba2001573a870" style="height: 229px;"
                frameborder="0"></iframe>
            <div class="line"></div>

            <div class="heading-text">Card with Dismiss</div>
            <div class="card-with-dismiss">
                <div id="card-with-badge">
                    <img src="/images/spud icon.jpg" alt="card-image" id="image-icon">
                    <div id="dismiss">X</div>
                    <div class="badge-desc">Spud is a cartoon character</div>
                    <div class="badge-movie">Movie: Jake Long</div>
                    <div class="btns">
                        <button class="btn">Watch</button>
                        <button class="btn">Like</button>
                        <button class="btn">Share</button>
                    </div>
                </div>
            </div>
            <div class="desc-txt">The code snippet below helps you create cards with dismiss</div>
            <iframe src="https://www.thiscodeworks.com/embed/6231652e8bcba2001573a871" style="height: 255px;"
                frameborder="0"></iframe>
            <div class="line"></div>

            <div class="heading-text">Card with Text Overlay</div>
            <div class="card-with-textoverlay">
                <div id="card-with-textoverlay">
                    <img src="/images/spud icon.jpg" alt="card-image" id="image-icon">
                    <div class="badge-desc desc-overlay">Spud is a cartoon character</div>
                    <div class="badge-movie movie-overlay">Movie: Jake Long</div>
                    <div class="btns">
                        <button class="btn">Watch</button>
                        <button class="btn">Like</button>
                        <button class="btn">Share</button>
                    </div>
                </div>
            </div>
            <div class="desc-txt">The code snippet below helps you create cards with text-overlay</div>
            <iframe src="https://www.thiscodeworks.com/embed/623165b18bcba2001573a873" style="height: 242px;"
                frameborder="0"></iframe>
            <div class="line"></div>

            <div class="heading-text">Card with Text Only</div>
            <div id="card-with-text">
                <div class="card-with-text-container">
                    <div class="badge-desc">Spud is a cartoon character</div>
                    <div class="badge-movie">Movie: Jake Long</div>
                    <div class="btns">
                        <button class="btn">Watch</button>
                        <button class="btn">Like</button>
                        <button class="btn">Share</button>
                    </div>
                </div>
            </div>
            <div class="desc-txt">The code snippet below helps you create cards with text-only</div>
            <iframe src="https://www.thiscodeworks.com/embed/6231660f8bcba2001573a875" style="height: 229px;"
                frameborder="0"></iframe>
            <div class="line"></div>

            <div class="heading-text">Horizontal Card</div>
            <div class="horizontal-card">
                <div id="card-with-badge-horizontal" class="horizontal-card">

                    <div class="fake-style">
                        <img src="/images/spud icon.jpg" alt="card-image" id="image-icon-horizontal">
                        <div class="fake-style text-left">
                            <div class="badge-desc">Spud</div>
                            <div class="badge-movie">Movie: Jake Long</div>
                        </div>
                    </div>
                    <div class="fake-style btn-down">
                        <div class="btns">
                            <button class="btn">Watch</button>
                            <button class="btn">Like</button>
                            <button class="btn">Share</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desc-txt">The code snippet below helps you create horizontal card</div>
            <iframe src="https://www.thiscodeworks.com/embed/6231664b8bcba2001573a876" style="height: 333px;"
                frameborder="0"></iframe>
            <div class="line"></div>

            <div class="heading-text">Card with Shadow</div>
            <div class="horizontal-card">
                <div id="card-with-badge-shadow" class="horizontal-card">

                    <div class="fake-style">
                        <img src="/images/spud icon.jpg" alt="card-image" id="image-icon-horizontal">
                        <div class="fake-style text-left">
                            <div class="badge-desc">Spud</div>
                            <div class="badge-movie">Movie: Jake Long</div>
                        </div>
                    </div>
                    <div class="fake-style btn-down">
                        <div class="btns">
                            <button class="btn">Watch</button>
                            <button class="btn">Like</button>
                            <button class="btn">Share</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desc-txt">The code snippet below helps you create card with shadows</div>
            <iframe src="https://www.thiscodeworks.com/embed/623166988bcba2001573a877" style="height: 307px;"
                frameborder="0"></iframe>
            <div class="line"></div>
        </div>
    </div>
</body>

</html>