:root{
    --primary-color: #34D399;
    --secondary-color: ;
}

body{
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
    margin: 0 auto;
    text-align: center;
}

.main-text{
    font-size: large;
    font-weight: bold;
}
