@import url(/styles/common.css);
@import url(/styles/utilities.css);

.toast-btn {
    background-color: var(--primary-color);
    width: 5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.toast-btn:hover {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.side-view {
    background-color: var(--primary-color);
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    width: 12rem;
    text-align: center;
    position: fixed;
    bottom: 3rem;
    left: 2rem;
    display: none;
}
