<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpudUI | Toast</title>
    <link rel="stylesheet" href="toast.css">
</head>

<body>
    <nav class="navigation">
        <div class="nav-brand">Spud Ui</div>
        <ul class="list-non-bullet nav-pills">
            <li class="inline-item">
                <a class="links" target="_blank" href="https://github.com/Veekshith-Thoram"><img
                        src="/images/icons8-github-30.png" id="git-img" alt="github"></a>
            </li>

            <li class="inline-item">
                <a class="links" target="_blank" href="https://twitter.com/ThoramVeekshith"><img
                        src="/images/icons8-twitter-50.png" id="tweet-img" alt="twitter"></a>
            </li>

            <li class="inline-item">
                <a class="links" target="_blank" href="https://www.linkedin.com/in/veekshith-thoram-72b973217/"><img
                        src="/images/icons8-linkedin-30.png" id="linkedin-img" alt="linkedin"></a>
            </li>
        </ul>

    </nav>
    <div class="container">
        <div class="sidenav-container">
            <nav class="side-nav">
                <ul class="list-non-bullet">
                    <li class="side-nav-link"><a class="links" href="/get-started/get-started.html">Get Started</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/avatar/avatar.html">Avatar</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/alert/alert.html">Alert</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/badge/badge.html">Badge</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/button/button.html">Button</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/card/card.html">Card</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/image/image.html">Image</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/input/input.html">Input</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/lists/list.html">Lists</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/toast/toast.html">Toast</a></li>
                    <li class="side-nav-link"><a class="links"
                            href="/components/text-utilities/text-utilities.html">Text</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-container">
            <h1>Toast</h1>
            <div class="desc-txt">A toast is basically an alert which appears for a few seconds.</div>
            <div class="line"></div>
            <h2>Simple Toast</h2>
            <div class="toast-wrapper">
                <div class="toast-btn" id="toast-btn">Toast</div>
            </div>
            <div class="toast-wrapper side-view" id="toast-text">Here is the Toast.</div>
            <div class="desc-txt">The code snippet to the toast is below.</div>
            <iframe src="https://www.thiscodeworks.com/embed/6230a4b44ee3f10015ca3f35" style="height: 200px;"
                frameborder="0"></iframe>
        </div>
    </div>

    <script src="/components/toast/toast.js"></script>
</body>

</html>