<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpudUi | Lists</title>
    <link rel="stylesheet" href="list.css">
</head>

<body>
    <nav class="navigation">
        <div class="nav-brand">Spud Ui</div>
        <ul class="list-non-bullet nav-pills">
            <li class="inline-item">
                <a class="links" target="_blank" href="https://github.com/Veekshith-Thoram"><img
                        src="/images/icons8-github-30.png" id="git-img" alt="github"></a>
            </li>

            <li class="inline-item">
                <a class="links" target="_blank" href="https://twitter.com/ThoramVeekshith"><img
                        src="/images/icons8-twitter-50.png" id="tweet-img" alt="twitter"></a>
            </li>

            <li class="inline-item">
                <a class="links" target="_blank" href="https://www.linkedin.com/in/veekshith-thoram-72b973217/"><img
                        src="/images/icons8-linkedin-30.png" id="linkedin-img" alt="linkedin"></a>
            </li>
        </ul>

    </nav>
    <div class="container">

        <div class="sidenav-container">
            <nav class="side-nav">
                <ul class="list-non-bullet">
                    <li class="side-nav-link"><a class="links" href="/components/avatar/avatar.html">Avatar</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/alert/alert.html">Alert</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/badge/badge.html">Badge</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/button/button.html">Button</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/card/card.html">Card</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/image/image.html">Image</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/input/input.html">Input</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/lists/list.html">Lists</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/toast/toast.html">Toast</a></li>
                    <li class="side-nav-link"><a class="links" href="/components/text-utilities/text-utilities.html">Text</a></li>
                </ul>
            </nav>
        </div>

        <div class="main-container">
            <h1>Lists</h1>
            <div class="desc-txt">A list displays various items.There are 2 kinds of lists.
                <ul>
                    <li>Spaced List</li>
                    <li>Stacked List</li>
                </ul>
            </div>
            <div class="line"></div>
            <h2>Spaced List</h2>
            <div class="list-container">
                <ul class="ul-list">
                    <li class="items">Item 1</li>
                    <li class="items">Item 2</li>
                    <li class="items">Item 3</li>
                    <li class="items">Item 4</li>
                </ul>

                <ul class="roman-list">
                    <li class="items">Item 1</li>
                    <li class="items">Item 2</li>
                    <li class="items">Item 3</li>
                    <li class="items">Item 4</li>
                </ul>

                <ul class="alphabet-list">
                    <li class="items">Item 1</li>
                    <li class="items">Item 2</li>
                    <li class="items">Item 3</li>
                    <li class="items">Item 4</li>
                </ul>

                <ul class="numbered-list">
                    <li class="items">Item 1</li>
                    <li class="items">Item 2</li>
                    <li class="items">Item 3</li>
                    <li class="items">Item 4</li>
                </ul>
            </div>
            <div class="desc-txt">The code snippet to create spaced lists is below</div>
            <iframe src="https://www.thiscodeworks.com/embed/6230b04c4ee3f10015ca3f3c" style="height: 242px;"
                frameborder="0"></iframe>
            <div class="line"></div>
            <h2>Stacked List</h2>
            <div class="desc-txt">A stacked list is used to display notifications stacked on top of each.</div>
            <div class="list-container">
                <ul>
                    <li class="primary stacked">Primary notification</li>
                    <li class="secondary stacked">Secondary notification</li>
                    <li class="danger stacked">Danger notification</li>
                    <li class="warning stacked">Warning notification</li>
                </ul>
            </div>
            <div class="desc-txt">The code snippet to create stacked lists is below</div>
            <iframe src="https://www.thiscodeworks.com/embed/6230b2254ee3f10015ca3f3e" style="height: 164px;"
                frameborder="0"></iframe>
        </div>
    </div>
</body>

</html>