:root{
    --primary-color: #16a34a;
    --secondary-color: ;
    --delete-btn-hover: red;
    --delete-btn: #ef4444;
    --disabled-btn: #d4d4d4;
    --disabled-btn-txt: #52525b;
    --primary-hover: #34D399;
    --secondary-btn: #22d3ee;
    --secondary-hover: #06b6d4;
}


body{
    margin: 0 auto;
}

.nav-li{
    list-style-type: none;
    float: right;
}

.nav-ul{
    display: inline;
    margin-left: -15px;
}

nav{
    padding: 2rem;
}

#tweet-img{
    width:30px;
}

#line{
    margin: 1rem;
    padding: 0.1px;
    background-color: gray;
}

iframe{
    margin-left: 12rem;
    margin-top: 1rem;
}

.basic-btn{
    padding: 0.5rem;
    margin: 1rem;
    width: 7rem;
    /* border-radius: 0.4rem; */
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#delete-btn{
    background-color: var(--delete-btn);
    color: white;
    
}

#delete-btn:hover{
    background-color: var(--delete-btn-hover);
}

#disabled-btn{
    background-color: var(--disabled-btn);
    color: var(--disabled-btn-txt);
}

#disabled-btn:hover {
	cursor: default;
}

#primary-btn{
    background-color: var(--primary-color);
    color: white;
}

#primary-btn:hover{
    background-color: var(--primary-hover);
}

#secondary-btn{
    background-color: var(--secondary-btn);
    color: white;
}

#secondary-btn:hover{
    background-color: var(--secondary-hover);
}

#primary-outline{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
#primary-outline:hover{
    background-color: var(--primary-color);
    color: white;;
}
#second-outline{
    border: 2px solid var(--secondary-btn);
    color: var(--secondary-btn);
}
#second-outline:hover{
    background-color: var(--secondary-btn);
    color: white;;
}
.desc-txt{
    /* font-size: large; */
    font-weight: 600;
}

.icon-img{
    width: 1.5rem;
    cursor: pointer;
}
.icon-btn{
    margin: 1rem;
    border: none;
}

.float-img{
    width: 1.5rem
}

.float-btn{
    width: 3rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 999999rem;
}
.float-btn:hover{
    background-color: var(--primary-hover);
}

