@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
    --primary-color: #34D399;
    --secondary-color: ;
    --delete-btn-hover: red;
    --delete-btn: #ef4444;
    --disabled-btn: #d4d4d4;
    --disabled-btn-txt: #52525b;
    --primary-hover: #34D399;
    --secondary-btn: #22d3ee;
    --secondary-hover: #06b6d4;
}


body {
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

#tweet-img {
    width: 30px;
}

.line {
    margin: 1rem;
    padding: 0.1px;
    background-color: gray;
}

iframe {
    margin-top: 1rem;
    min-width: 90%;
}

.desc-txt {

    margin-top: 0.5rem;
    font-weight: 600;
}

.container {
    position: relative;
}

.sidenav-container {
    position: fixed;
}

.main-container {
    position: absolute;
    left: 10rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;

}

.nav-pills {
    text-align: right;
}

.list-non-bullet {
    list-style: none;
}

.inline-item {
    display: inline;
    padding: 0rem 0.5rem;
}

.heading-text {
    font-size: 1.3rem;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.links:hover {
    color: var(--primary-color);
}

.side-nav-link {
    margin-top: 1rem;
}


.basic-btn {
    padding: 0.5rem;
    margin: 1rem;
    width: 7rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#delete-btn {
    background-color: var(--delete-btn);
    color: white;

}

#delete-btn:hover {
    background-color: var(--delete-btn-hover);
}

#disabled-btn {
    background-color: var(--disabled-btn);
    color: var(--disabled-btn-txt);
}

#disabled-btn:hover {
    cursor: default;
}

#primary-btn {
    background-color: var(--primary-color);
    color: white;
}

#primary-btn:hover {
    background-color: var(--primary-hover);
}

#secondary-btn {
    background-color: var(--secondary-btn);
    color: white;
}

#secondary-btn:hover {
    background-color: var(--secondary-hover);
}

#primary-outline {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

#primary-outline:hover {
    background-color: var(--primary-color);
    color: white;
    ;
}

#second-outline {
    border: 2px solid var(--secondary-btn);
    color: var(--secondary-btn);
}

#second-outline:hover {
    background-color: var(--secondary-btn);
    color: white;
    ;
}

.desc-txt {
    font-weight: 600;
}

.icon-img {
    width: 1.5rem;
    cursor: pointer;
}

.icon-btn {
    margin: 1rem;
    border: none;
}

.float-img {
    width: 1.5rem
}

.float-btn {
    width: 3rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 999999rem;
    cursor: pointer;
}

.float-btn:hover {
    background-color: var(--primary-hover);
}

.link-btn {
    border: none;
}

#link-a {
    color: black;
}