@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root{
    --primary-color: #34D399;
    --secondary-color: ;
    
}


body{
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

#tweet-img{
    width:30px;
}

.line{
    margin: 1rem;
    padding: 0.1px;
    background-color: gray;
}

iframe{
    /* margin-left: 10%; */
    margin-top: 1rem;
    min-width: 90%;
}

.desc-txt{
    
    margin-top: 0.5rem;
    font-weight: 600;
}

.container{
    position: relative;
}
.sidenav-container{
    position: fixed;
}

.main-container{
    position: absolute;
    left: 10rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 0.1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 2rem;
    
}

.nav-pills{
    text-align: right;
}
.list-non-bullet{
    list-style: none;
}

.inline-item{
    display:inline;
    padding: 0rem 0.5rem;
}

.heading-text{
    font-size: 1.3rem;
    font-weight: bold;
}
.links{
    text-decoration: none;
    /* margin-top: 3rem; */
    color: black;
    font-size: 1.5rem;
}
.links:hover{
    color: var(--primary-color);
}
.side-nav-link{
    margin-top: 1rem;
}


#avatar-lg{
    width: 10rem;
    height: 10rem;
    border-radius: 50%
}

#avatar-md{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%
}

#avatar-sm{
    width: 5rem;
    height: 5rem;
    border-radius: 50%
}

.avatar-ul{
    display: inline;
}

.avatar-li{
    text-align: center;
    list-style-type: none;
    display: in;
}

.avatar-txt {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	font-size: 30px;
    margin-right: 2rem;
}

#avatar-txt-sm{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#avatar-txt-lg{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

#avatar-txt-md{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.text-container{
    display: flex;
    justify-content: center;
}

