:root{
    --primary-color: #34D399;
    --secondary-color: ;
    
}


body{
    margin: 0 auto;
}

.nav-ul{
    list-style-type: none;
    float: right;
}

.nav-li{
    display: inline;
    margin-left: 10px;
}

nav{
    padding: 2rem;
}

#tweet-img{
    width:30px;
}

#line{
    margin: 1rem;
    padding: 0.1px;
    background-color: gray;
}

iframe{
    margin-left: 10%;
    margin-top: 1rem;
}

.desc-txt{
    /* font-size: large; */
    font-weight: 600;
}

.heading-txt{
    font-size: 2rem;
}

#heading1{
    font-size: 3rem;
}

#heading2{
    font-size: 2rem;
}
#heading3{
    font-size: 1.5rem;
}
#heading4{
    font-size: 1rem;
}
#small-text{
    font-size: 0.8rem;
}

#gray-text{
    color: gray;
}

#center-text{
    text-align: center;
    font-weight: bold;
}
