@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root{
    --primary-color: #34D399;
    --secondary-color: ;
    --primary-voilet: #8F00FF;
    --grey: #EBECED;
    --primary-dark: #272C33;
    --secondary-dark: #3F4652;
    --light-voilet: #cf9cf7;
    --light-green: #b0f3d4;
    --light-yellow: #fde68a;
    --light-red: #fd8181;
    --light-blue: #b0ddf5;
    --blue: #0381F7;
    --red: #DC2626;
    --green: #059669;
    --yellow: #f59e0b;
}


body{
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

#tweet-img{
    width:30px;
}

.line{
    margin: 1rem;
    padding: 0.1px;
    background-color: gray;
}

iframe{
    /* margin-left: 10%; */
    margin-top: 1rem;
    min-width: 90%;
}

.desc-txt{
    
    margin-top: 0.5rem;
    font-weight: 600;
}

.container{
    position: relative;
}
.sidenav-container{
    position: fixed;
}

.main-container{
    position: absolute;
    left: 10rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 0.1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 2rem;
    
}

.nav-pills{
    text-align: right;
}
.list-non-bullet{
    list-style: none;
}

.inline-item{
    display:inline;
    padding: 0rem 0.5rem;
}

.heading-text{
    font-size: 1.3rem;
    font-weight: bold;
}
.links{
    text-decoration: none;
    /* margin-top: 3rem; */
    color: black;
    font-size: 1.5rem;
}
.links:hover{
    color: var(--primary-color);
}
.side-nav-link{
    margin-top: 1rem;
}


#primary-img{
    width: 1.2rem;
    height: 1.2rem;
    /* margin-top: 1rem; */
    margin-right: 3rem;
}
#success-img{
    width: 1.2rem;
    height: 1.2rem;
    /* margin-top: 1rem; */
    margin-right: 3rem;
}
#warning-img{
    width: 1.2rem;
    height: 1.2rem;
    /* margin-top: 1rem; */
    margin-right: 3rem;
}
#danger-img{
    width: 1.2rem;
    height: 1.2rem;
    /* margin-top: 1rem; */
    margin-right: 3rem;
}


.alert{
    margin: 1rem;
    padding: 1rem;
    width: 30%;
    position: relative;
    border-radius: 0.5rem;
    font-weight: bold;
}

#alert-primary{
    background-color: var(--light-voilet);
    color: var(--primary-voilet);
}

#alert-success{
    background-color: var(--light-green);
    color: var(--green);
}

#alert-warning{
    background-color: var(--light-yellow);
    color: var(--yellow);
}

#alert-danger{
    background-color: var(--light-red);
    color: var(--red);
    /* text-align: center; */
}

.alerts{
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: row; */
    position: relative;
}