@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
    --primary-color: #34D399;
    --secondary-color: ;
    --primary-text: #8F00FF;
    --grey: #EBECED;
    --primary-dark: #272C33;
    --secondary-dark: #3F4652;
    --primary-background: #cf9cf7;
    --success-background: #b0f3d4;
    --warning-alert: #fde68a;
    --danger-background: #fd8181;
    --light-blue: #b0ddf5;
    --blue: #0381F7;
    --danger-text: #DC2626;
    --success-text: #059669;
    --warning-text: #f59e0b;
}


body {
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

#tweet-img {
    width: 30px;
}

.line {
    margin: 1rem;
    padding: 0.1px;
    background-color: gray;
}

iframe {
    margin-top: 1rem;
    min-width: 90%;
}

.desc-txt {

    margin-top: 0.5rem;
    font-weight: 600;
}

.container {
    position: relative;
}

.sidenav-container {
    position: fixed;
}

.main-container {
    position: absolute;
    left: 10rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;

}

.nav-pills {
    text-align: right;
}

.list-non-bullet {
    list-style: none;
}

.inline-item {
    display: inline;
    padding: 0rem 0.5rem;
}

.heading-text {
    font-size: 1.3rem;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.links:hover {
    color: var(--primary-color);
}

.side-nav-link {
    margin-top: 1rem;
}


#primary-img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3rem;
}

#success-img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3rem;
}

#warning-img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3rem;
}

#danger-img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3rem;
}


.alert {
    margin: 1rem;
    padding: 1rem;
    width: 30%;
    position: relative;
    border-radius: 0.5rem;
    font-weight: bold;
}

#alert-primary {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

#alert-success {
    background-color: var(--success-background);
    color: var(--success-text);
}

#alert-warning {
    background-color: var(--warning-alert);
    color: var(--warning-text);
}

#alert-danger {
    background-color: var(--danger-background);
    color: var(--danger-text);
}

.alerts {
    position: relative;
}